@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
  background-color: #5264F5;
  font-family: 'Poor Story', cursive;
  color: #FFFFFF;
}

.App {
  text-align: center;
}
